body{
    background-color: rgb(163, 163, 224);
}
form{
    background-color:whitesmoke;
    width: 750px;
    height: 650px;
    margin: auto;
    
}
h1,h3{
    text-align: center;
    position: relative;
    top:10px;
}
.box1{
    text-align: center;
   
    position:relative;
    top: 3px;
    
}
.box2{
    text-align: center;
    position: relative;
    top: 1px;
  
}
.box3{
    text-align: center;
    position: relative;
    
    right: 98px;
    
}
.box4{
    text-align: center;
    position: relative;
    top: 15px;
    right: 98px;
}
.opbox1{
   position: relative;
   left: 27px;
}
.opbox2{
    position: relative;
    left: 265px;
    top: -15px;
}
.forselect{
    position: relative;
    left: 27px;
}
.selectionbox{
    position: relative;
    left: 265px;
    top: -30px;
}
.textarea{
    position: relative;
    left: 265px;
    top: -14px;
}
input[type="submit"]{

    background: rgb(125, 125, 231) ;
    color:white ;
       border: 1px solid blue;
       width: 2cm;
       height: 35px;
       border-radius: 3px;
       font-size: medium;
    }
    